page-agreement {
    *{
        font-family: '幼圆';
    }
    ion-toolbar ion-icon{
        position: absolute;
        left: 0;
        top: 1.5rem;
    }
    .toolbar-title{
        font-weight: 400;
        font-size: 1.9rem;
       
    }
    
    p{
        line-height: 3rem;
    }
    .agree-title{
        font-size: 2rem;
    }
}
